@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #edeef0;
}

.film-info {
  @apply bg-blue-300/20 rounded py-1 px-4 text-base flex justify-between;
}
